<a href="https://colab.research.google.com/github/CherifArsanious/wrangle-and-analyze-data-project/blob/master/wrangle_act.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data-Analysis-NanoDegree-Udacity-Project-4
## Wrangle-and-Analyze-Data
## Project-done-by-Cherif.Arsanious

## Project-Overview
This project is divided into 3 parts 

1- Wrangle Data

I have to gather data from a csv file prepared by the instructor, a tsv file from a url using the requests library and gather data from twitter api using tweepy. I have to assess the collected data and clean them from dirty and messy data and test to make sure of my cleaning process

2- Storing, analyzing, and visualizing my wrangled data

3- Make 2 reports on my data wrangling efforts and my data analyses and visualizations efforts

First step in my wrangle effort is to import the required libraries that will help me to gather, assess and clean the data

In [0]:
#First I will import the necessary libraries to start my project
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import requests
import tweepy
import json

In [1]:
#I should get the needed files that contains my csv and tsv file
!git clone https://github.com/CherifArsanious/wrangle-and-analyze-data-project.git

Cloning into 'wrangle-and-analyze-data-project'...
remote: Enumerating objects: 5, done.
remote: Counting objects: 100% (5/5), done.
remote: Compressing objects: 100% (5/5), done.
remote: Total 5 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (5/5), done.

In [3]:
dogs_df=pd.read_csv('wrangle-and-analyze-data-project/twitter-archive-enhanced.csv')
dogs_df.head()

             tweet_id  in_reply_to_status_id  ...  pupper puppo
0  892420643555336193                    NaN  ...    None  None
1  892177421306343426                    NaN  ...    None  None
2  891815181378084864                    NaN  ...    None  None
3  891689557279858688                    NaN  ...    None  None
4  891327558926688256                    NaN  ...    None  None

[5 rows x 17 columns]

In [40]:
#The image prediction file was already available in Udacity resources platform and needed only to be imported
dogs_breed=pd.read_csv('wrangle-and-analyze-data-project/image-predictions.tsv',sep='\t')
dogs_breed.head()

             tweet_id  ... p3_dog
0  666020888022790149  ...   True
1  666029285002620928  ...   True
2  666033412701032449  ...   True
3  666044226329800704  ...   True
4  666049248165822465  ...   True

[5 rows x 12 columns]

Although that I found the

In [0]:
r=requests.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv').content

In [0]:
import io
df = pd.read_csv(io.StringIO(r.decode('utf-8')),sep='\t')

In [39]:
df.head()

             tweet_id  ... p3_dog
0  666020888022790149  ...   True
1  666029285002620928  ...   True
2  666033412701032449  ...   True
3  666044226329800704  ...   True
4  666049248165822465  ...   True

[5 rows x 12 columns]